@model PasswordGenerator

@{
    const int timeToDismiss = 5_000;
}

<div>
    <div class="flex flex-col items-start w-1/4">
    <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box" style="width: 25vw;">
        <li>
            <button class="btn" on:click="@(() => Model.Generate())">
                Generate new password
            </button>
        </li>
        <li>
            <button class="btn" on:click="@(() => Model.Remove())">
                Remove last password
            </button>
        </li>
    </ul>

    <ul class="list bg-base-100 rounded-box shadow-md" style="width: 25vw;">

        <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Passwords</li>
        @foreach (var pw in Model.AllPasswords)
        {
            <li class="list-row">
                <pre>@pw</pre>
            </li>
        }

    </ul>
    </div>

    @if (Model.Toast != null)
    {
        <div class="toast">
            <div class="alert alert-info animate-init">
                <span>@Model.Toast</span>
                <button class="btn btn-xs"
                        on:click="@(() => Model.Close())">
                    <div class="hidden" x-init="@($"setTimeout(() => $dispatch('click'), {timeToDismiss})")"></div>
                    X
                </button>
            </div>
        </div>
    }


</div>
